<div id="<%= dom_id project %>">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2><%= link_to project.title, project %></h2>
        <%= link_to project.link, project.link %>
      </div>
    </div>  
    <div class="col">
      <%= project.body %>
    </div>
  </div>
</div>
